<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${page}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <style>
        main {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
            .btn-group {
            display: flex;
            gap: 10px;
            justify-content: center;
        }
            .btn {
            flex: 1;
            max-width:
            border-radius: 15px;
        }
    }
    </style>
</head>
<body>
<header th:insert="base/header :: header"></header>
<main>
    <div class="container mt-4 p-4 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="col-lg-10 px-0">
            <p class="lead my-3">Поделитесь вашим путешествием со всем миром
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-airplane" viewBox="0 0 16 16">
                    <path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849m.894.448C7.111 2.02 7 2.569 7 3v4a.5.5 0 0 1-.276.447l-5.448 2.724a.5.5 0 0 0-.276.447v.792l5.418-.903a.5.5 0 0 1 .575.41l.5 3a.5.5 0 0 1-.14.437L6.708 15h2.586l-.647-.646a.5.5 0 0 1-.14-.436l.5-3a.5.5 0 0 1 .576-.411L15 11.41v-.792a.5.5 0 0 0-.276-.447L9.276 7.447A.5.5 0 0 1 9 7V3c0-.432-.11-.979-.322-1.401C8.458 1.159 8.213 1 8 1s-.458.158-.678.599"/>
                </svg>
            </p>
            <p class="lead mb-0"><a href="/blog/add/adventure" class="btn btn-primary">Добавить путешествие
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                </svg>
            </a>
            </p><br>
            <p class="lead mb-0"><a href="/blogs/adventure" class="btn btn-primary">Все путешествия
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                </svg>
            </a>
            </p><br>
        </div>
    </div>
</main>
<div class="container">
    <div class="p-3 pb-md-4 mx-auto text-center">
        <h5 class="display-4 text-body-emphasis">Присоединяйтесь к сообществу путешественников</h5>
    </div>

    <div class="row mt-1 d-flex flex-column align-items-center">
        <div class="col-md-6 mb-4">
            <div class="h-100 p-3 bg-body-tertiary border rounded-3 d-flex flex-column align-items-center">
                <img src="/images/moscow.jpg" alt="Картинка" width="250" height="250">
                <h3>Москва</h3>
                <p>Москва — популярный туристический центр. Московский Кремль, Красная площадь, Новодевичий монастырь и Церковь Вознесения в Коломенском входят в список объектов всемирного наследия ЮНЕСКО.</p>
            </div>
        </div>
    </div>

    <div class="row mt-1 d-flex flex-column align-items-center">
        <div class="col-md-6 mb-4">
            <div class="h-100 p-3 bg-body-tertiary border rounded-3 d-flex flex-column align-items-center">
                <img src="/images/sankt-peterburg.jpg" alt="Картинка" width="250" height="250">
                <h3>Санкт-Петербург</h3>
                <p>В Санкт-Петербурге располагается большое количество памятников истории и культуры. Более 70 театров, в том числе всемирно известные: Мариинский, Александринский и Михайловский театры. В городе работают свыше 200 музеев и их филиалов.</p>
            </div>
        </div>
    </div>

    <div class="row mt-1 d-flex flex-column align-items-center">
        <div class="col-md-6 mb-4">
            <div class="h-100 p-3 bg-body-tertiary border rounded-3 d-flex flex-column align-items-center">
                <img src="/images/sochi.jpg" alt="Картинка" width="250" height="250">
                <h3>Сочи</h3>
                <p>Сочи — крупнейший и единственный в России субтропический курорт.В летний курортный сезон в городе работает около двух с половиной тысяч средств размещения, в том числе 60 санаториев и пансионатов. Зимой к услугам туристов Сочи предлагает горнолыжные курорты Красной Поляны.</p>
            </div>
        </div>
    </div>

    <div class="row mt-1 d-flex flex-column align-items-center">
        <div class="col-md-6 mb-4">
            <div class="h-100 p-3 bg-body-tertiary border rounded-3 d-flex flex-column align-items-center">
                <img src="/images/kazan.jpg" alt="Картинка" width="250" height="250">
                <h3>Казань</h3>
                <p>Казань — одно из самых красивых и интересных мест России, город с великолепным историческим и культурным наследием. Самой известной достопримечательностью столицы Татарстана является кремль, который включён в список объектов Всемирного наследия ЮНЕСКО.</p>
            </div>
        </div>
    </div>

    <div class="row mt-1 d-flex flex-column align-items-center">
        <div class="col-md-6 mb-4">
            <div class="h-100 p-3 bg-body-tertiary border rounded-3 d-flex flex-column align-items-center">
                <img src="/images/kazan.jpg" alt="Картинка" width="250" height="250">
                <h3>Ярославль</h3>
                <p>Ярославль является одним из ведущих звеньев «Золотого Кольца» — всемирно известного туристического маршрута России. Сегодня город представляет собой музей под открытым небом, в котором находятся около 800 охраняемых государством памятников архитектуры.</p>
            </div>
        </div>
    </div>

</div>
<footer class="py-2 text-center text-body-secondary">
    <div th:insert="base/footer :: footer"></div>
</footer>
</body>
</html>